@font-face {
    font-family: "Hershey Roman Duplex";
    src: url("/src/assets/Hershey_Roman_Duplex.ttf") format("truetype");
}

:root {
    --game-width: calc(100vh * 4 / 3);
}

body {
    margin: 0;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

canvas {
    background: radial-gradient(#222, #000);
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}

#root {
    width: calc(var(--game-width) + 860px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-screen {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-size: 34pt;
    font-family: 'Hershey Roman Duplex', sans-serif;
}

#title {
    font-size: 46pt;
}

a {
    color: white;
    font-weight: bold;
}

a:visited {
    color: #c9acff;
}

#name-modal {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 50px 30px 30px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white inset, 0px 0px 10px white;
}

#name-form {
    display: grid;
    grid-template: 0fr 0fr 0fr / 1fr 0fr;
    grid-template-areas:
        "l l"
        "i s"
        "w w";
    justify-items: center;
    gap: 15px;
}

#name-form>label {
    font-size: x-large;
    grid-area: l;
}

#nickname {
    grid-area: i;
}

input,
button {
    font-family: 'Urbanist', sans-serif;
    color: white;
    font-size: large;
    background-color: black;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
}

input:disabled,
button:disabled {
    color: gray;
    border: 1px solid gray;
    box-shadow: none;
}

.warning {
    grid-area: w;
    color: yellow;
    font-weight: bold;
    border: 1px solid yellow;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px yellow inset, 0px 0px 10px yellow;
}

#score-display {
    pointer-events: none;
    user-select: none;
    position: absolute;
    font-size: x-large;
    top: 50px;
    right: 50px;
    text-shadow: 0 0 5px black;
}

#score-display>span {
    font-size: x-large;
}

#about-modal-backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#about-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white inset, 0px 0px 10px white;
    background: black;
    overflow: hidden;
}

#about-modal-content {
    max-width: max-content;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px 30px 30px;
    font-size: large;
}

@keyframes open {
    0% {
        max-width: 0;
        max-height: 0;
    }

    50% {
        max-width: var(--game-width);
        max-height: 20px;
    }

    100% {
        max-width: var(--game-width);
        max-height: var(--game-width);
    }
}

@keyframes close {
    0% {
        max-width: var(--game-width);
        max-height: var(--game-width);
    }

    50% {
        max-width: var(--game-width);
        max-height: 20px;
    }

    100% {
        max-width: 0;
        max-height: 0;
    }
}