body {
    margin: 0;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

canvas {
    background: radial-gradient(#222, #000);
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}

#root {
    width: calc(100vh * 4 / 3 + 860px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#name-modal {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 50px 30px 30px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white inset, 0px 0px 10px white;
}

#name-form {
    display: grid;
    grid-template: 0fr 0fr 0fr / 1fr 0fr;
    grid-template-areas:
        "l l"
        "i s"
        "w w";
    justify-items: center;
    gap: 15px;
}

#name-form>label {
    font-size: x-large;
    grid-area: l;
}

#nickname {
    grid-area: i;
}

input {
    font-family: 'Urbanist', sans-serif;
    color: white;
    font-size: large;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
}

input:disabled {
    color: gray;
    border: 1px solid gray;
    box-shadow: none;
}

.warning {
    grid-area: w;
    color: yellow;
    font-weight: bold;
    border: 1px solid yellow;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px yellow inset, 0px 0px 10px yellow;
}

#score-display {
    pointer-events: none;
    user-select: none;
    position: absolute;
    font-size: x-large;
    top: 50px;
    right: 50px;
    text-shadow: 0 0 5px black;
}

#score-display>span {
    font-size: x-large;
}